---
import Base from "../layouts/Base.astro";
import HeroYoutube from "../components/HeroYoutube.astro";
---
<Base title="Home — Nandini">
  <HeroYoutube /> <!-- everything loads inside -->
  <div style="height:10000px"></div>
</Base>
